{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in venues %}
		{% if venue.state == area.state and venue.city == area.city %}
		<div class="item">
			<li>			
				
				<a href="/venues/{{ venue.id }}"> 
					<i class="fas fa-music"></i>
				{{ venue.name }}
				</a>
					(Upcoming Shows:
					{% for us in upcoming_shows %}
					{% if venue.id == us[0] %} {{ us[1] }} {% endif %}
					{% endfor %} )
				
				<button class="delete-button" data-id="{{ venue.id }}">&cross;</button>
				<a href="/venues/{{ venue.id }}/edit"><button class= "btn" data-id="{{ venue.id }}">Edit</button></a>
			</li>
		</div>
		{% endif %}
		{% endfor %}

	</ul>
{% endfor %}
{% endblock %}